


*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.6s;
    
}
header{
    border-bottom: 0.1px solid white;
    width: 100%;
    background-color: rgb(161, 0, 0);
    background-image: url(hatter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;;


}
header h1{
    padding-top: 4%;
    padding-left: 9%;
    padding-bottom: 6%;
    font-size: 9vh;
    color:rgb(255, 255, 255);
    margin: 0;
    border: ;
/*
    text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.603);
    background: url() repeat fixed;
    
    -webkit-background-clip:text;
       background-clip: text;

     -webkit-text-fill-color:transparent;

    animation : bp 8s infinite linear;
    */
 
}
nav ul button{
    list-style-type: none;
 
    border: 0px black solid;
    padding: 8px;
    font-size: 2.5vh;

    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
    background-color: rgb(44, 44, 44);
    color: white;
    font-weight:600;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
    width: 20vh;
}
#jobb button{
  
    float: right;


    background-color: rgb(1, 23, 85);
}
#jobb button:hover{
    cursor: pointer;
}
#jobb button:hover{
    background-color: rgb(76, 87, 126);
    border: 0px black solid;
}
ul button:hover{
    cursor: pointer;
}
ul button:hover{
    background-color: rgb(98, 98, 98);
    border: 0px black solid;
}

nav ul{
    margin-left: 5%;
    margin-right: 5%;
}
nav{

   background-color: rgb(247, 247, 247);
   padding-top: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.236);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;;
}
@media screen and (min-width: 1000px){
    nav{
        position:sticky;
        top:0;
        padding-top: 10px;
    }
}

@media screen and (max-width: 670px){
    header h1{
        padding-top: 4%;
        padding-left: 0;
        padding-bottom: 6%;
        font-size: 9vh;
        color:rgb(255, 255, 255);
        margin: 0 auto;
        text-align: center;
        border: ;
        text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.603);
        
     
    }
}
@media screen and (max-width: 850px){

    nav{
        text-align: center;
    }
    #jobb button{
        float:none;
    }
}
@media screen and (max-width: 613px){
nav ul button{
    width: 30vh;
}
}

@media screen and (max-width: 521px){
    nav ul button{
        width: 50vh;
    }
}
@media screen and (max-width: 418px){
    nav ul button{
        width: 100%;
        margin-left: 0px;
    }
    iframe{
        height: 400vh;
    }
}
main{

    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(247, 247, 247);
    padding-top: 4%;
    padding-bottom:4%;
    background-image: url(https://img.freepik.com/premium-photo/abstract-pattern-background-intense-iridiscent-light-colorsblurred-abstract-modern-colored-holographic-background-80s-style-crumpled-iridescent-foil-real-texturesynthwavevaporwave-style_146482-7307.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    
}
footer h1{
    list-style-type: none;
    display: inline-block;
    border: 0px rgba(226, 226, 226, 0.571) solid;

    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 3.5vh;
    margin: 0 auto;

    color: white;
    font-weight:700;


    width: 40vh;

}
iframe{
    border: 0px solid;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c5c5c5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 33, 33);
  }

#ha1{
    text-align: center; 
    background-color: rgb(238, 238, 238); 
    padding-bottom: 10px; 
    padding-top: 10px; 
    margin-bottom: 10px; 
    font-weight: 700;
    border-radius: 20px;
  }
  #pe{
    background-color: rgb(248, 248, 248);
     padding-bottom: 10px;
      padding-top: 10px; 
      margin-bottom: 10px; 
      padding-left: 10px; 
      padding-right: 10px;
      border-radius: 20px;
  }
  #video{
    border-radius: 20px;
    margin: 0 auto;
  }
  hr{
    height: 60px;
    border: 0px;
    background-color: rgb(247, 247, 247);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
  }
  #szin{    background-color: rgb(247, 247, 247);}